
$color-light-grey: #e2e2e2;
$background-light-grey: #f0f0f0;

$rfuw-color-blue:   #004fa4;
$rfuw-color-blue-light:   #2b90fdec;
$rfuw-text-color:  #fff;
$rfuw-text-color-dark: #535353;
$rfu-danger-color: #cd182a;
$rfu-success-color: #00ff61;


