.about {
    &__img {
        width: 100%;
        height: 100%;
    }
&__shape-rigth {
    float: right;
    width: 35rem;
    height: 35rem;
    @include respond(tab-land) {
        width: 19rem;
        height: 17rem;
        float: none;
    }
}
&__shape-left {

    width: 35rem;
    height: 35rem;
}
&__text {
    line-height: 2rem;
    @include respond(tab-land) {
        line-height: 1.3rem;
    }
}
&-facts--box {
    display: flex;
    @include respond(tab-land) {
       display: block;
    }   
    &-1 {
       width: 50%; 
       @include respond(tab-land) {
        width: 100%; 
     }  
    }
    &-2 {
width: 50%;
@include respond(tab-land) {
    width: 100%; 
    text-align: center;
 }  
    }

}
&-facts-img {
    width: 100%;
    height: auto;
}
}

