*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  will-change: transform;
  transform: translateZ(0);
  
}

body {
    box-sizing: border-box;
    color: $rfuw-text-color-dark;

    @include respond(tab-port) {
      padding: 0;
  
    }
  }